//
// Theme Sass variables
//
// @see http://getbootstrap.com/docs/4.1/getting-started/theming/ for more details.
//

// Example how update variables of Bootstrap.
$body-bg: rgb(255, 227, 190);
$body-color: rgb(65, 44, 28);
$primary: rgb(17, 0, 255);